.navbar-brand{
    width: 60px;

}
.navbar-nav{
    text-align: right;
}

.card{
 margin: 5%;
}
.carousel{
    margin-bottom: 5%;
}
.footer{
    height: 500px;
    background-image: url(/img/bike.jpg);
}
.row h1{
    text-align: center;
}